body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

h1 {
  font-size: 24px;
  margin-top: 10px;
  color: #32e68a;
}

.wallet-section, .bet-section {
  background: #1e1e2f;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background-color: #32e68a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.hidden {
  display: none;
}

input {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

p {
  margin: 10px 0;
}
